:root {
    --background: lightsteelblue;
    --free-text-color: hsl(240, 33%, 34%);
    --btn-color: hsl(240, 33%, 34%);
    --btn-text-color: aliceblue;
    --title-color: aliceblue;
    --top-btn-color: aliceblue;
    --cell-color: whitesmoke;

}

body {
    background-color: var(--background);
}



.night-mode-theme {
    --background:  hsl(240, 35%, 21%);
    --free-text-color: hsl(240, 35%, 81%);
    --btn-color: lightsteelblue;
    --btn-text-color: hsl(240, 35%, 21%);
    --top-btn-color: hsl(208, 51%, 65%);
    --top-btn-text-color: hsl(240, 35%, 21%);
    --cell-color: lightsteelblue;
    --title-color: lightsteelblue;
    --title-shadow-color: hsl(240, 33%, 34%);
}

h1 {
    color: var(--title-color);
    text-align: center;
    text-shadow: 2px 1px var(--title-shadow-color);
}

h3 {
    color: var(--free-text-color);
    text-align: center;
}

table {
    margin: auto;
}

.level-btns-container {
    margin: auto;
    align-items: center;
    width: 360px;
}


.btn {
    display: inline-block;
    margin: auto;
    gap: 30%;
    border: 3px solid var(--btn-color);
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border-radius: 10%;
    width: 110px;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-style: oblique;
    cursor: pointer;
}


.btn:hover {
    width: 130px;
    transition: 0.5s;
}


.board-container {
    margin: auto;
    width: 200px;
    z-index: 1;
}

.board-container.beginner {
    width: 200px;
}

.board-container.medium {
    width: 400px;
}

.board-container.expert {
    width: 600px;
}

.cell {
    background-color: var(--cell-color);
    height: 50px;
    width: 50px;
    text-align: center;
}

.hint-mode-cell-clicked {
    background-color: #e0c257;
    height: 200px;
}

.cell.active:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.modal-container {
    margin: auto;
    align-items: center;
    width: 220px;
}

.modal {
    border: 4px solid aliceblue;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10%;
    margin: auto;
    display: inline-block;
    width: 220px;
    height: 80px;
    z-index: 2;
}

.timer-container {
    align-items: center;
    margin: auto;
    width: 110px;
}

.timer {
    display: inline-block;
    margin: auto;
    border: 3px solid var(--btn-color);
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border-radius: 10%;
    width: 110px;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-style: oblique;
    gap: 30%;
}

.top-info-container {
    margin: auto;
    width: 280px;
    align-items: center;
    gap: 10px;
}

.top-info {
    display: inline-block;
    padding: 15px;
    border-radius: 10%;
    background-color: var(--top-btn-color);
    height: 50px;
    box-sizing: border-box;
}


.smiley {
    cursor: pointer;
}

.night-mode-btn {
    cursor: pointer;
    background-color: var(--btn-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding:10px;
    margin-top: 20px;
    margin-left:20px;

}

.top-info-container-two {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 470px;
    height: 100px;
    gap: 15px;
}


.mega-hint-container {
    display: flex;
    height: 100px;
    width: 70px;
    left: 50%;
    align-items: center;

}

.mega-hint-btn {
   padding: 25px;
   margin: auto;
   line-height: 78%;
   display: inline-block;
   
}

.exterminator-btn {
    margin: auto;
    padding: 25px;
    line-height: 78%;
    display: inline-block;
     
}

.hints-container {
    display: inline-block;
    height: 40px;
    margin: 20px;

}

.hint {
    display: inline-block;
    margin: auto;
    background-color: var(--top-btn-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.hint:hover {
    background-color: azure;
    padding: 8px;
    transition: 0.5s;
}

.hint-clicked {
    box-shadow: 0 0 50px 15px #e0c257;
    transition: 0.5s;

}

.safe-click {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    width: 100px;
    height: 60px;
    border-radius: 10%;
    text-align: center;
    align-items: center;
}

p {
    padding: 10px;
    margin: auto;
    color: var(--free-text-color);
}

.secondary-btn{

    border: 2px solid var(--btn-color);
    color: var(--top-btn-text-color);
    background-color: var(--top-btn-color);
    border-radius: 10%;
    margin: auto;
    width: 70px;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;

}

.secondary-btn:hover {
    background-color: azure;
    cursor: pointer;
    transition: 0.5s;
}


.hint-mode-cell:hover {
    box-shadow: 0 0 10px 5px #e0c257;
}

.safe-cell {
    border: 2px solid lightgreen;
}
.leaderboard-container {
    margin: auto;
    border: 2px solid var(--cell-color);
    width: 200px;
    padding-bottom: 10px;

}

.leaderboard-cell {
    color: var(--free-text-color);
    height: 20px;
    width: 25px;
    padding: 5px;
    border-radius: 10%;
    text-align: center;
}

.leaderboard-cell.heading {
    background-color: var(--background);
}

.footer {
    width: 100px;
    margin: 100px auto;

}

.slow-hide {
    opacity: 0;
    padding: 3px;
    transition: 1s;
    cursor: default
}

.hide {
    display: none;
}

.space {
    height: 10px;
}

.manual-mode-container {
    width: 280px;
    margin: auto;
    padding: 10px;
}
.manual-mode-btn {
    width: 130px;
}

.manual-mode-btn:hover {
    width: 140px;
    transition: 0.5s;
}

.manual-mode-on {
    border: 3px solid azure;
}
.manual-mode {
    border: 2px solid lightslategray;
}
.manual-mode:hover {
    border: 2px solid lightsalmon;
}

.manual-mode-cell-clicked {
    border: 2px solid lightsalmon;
}

.undo-btn {
    height: 45px;
    cursor: pointer;
}

.undo-btn:hover {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    transition: 0.5s;
}

.smiley:hover {
   background-color: var(--btn-color);
   transition: 0.5s;
}